@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

.Surveyed,
.Surveyed * {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: color 400ms, background-color 400ms, border 400ms,
    width 400ms cubic-bezier(0.09, 1, 0.205, 1);
}

.Surveyed *:focus {
  outline: 0;
}

.Surveyed {
  overflow: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  overflow: hidden;
  background-color: #e69999;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  border: none;
  box-sizing: border-box;
  border-width: 3px;
  border-style: solid;
  border-color: #e69999;
}

button:hover {
  border: 3px solid #e69999;
  color: #e69999;
  background-color: #fff;
}

.Surveyed {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f5f1ed;
}

.Question_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  width: 100%;
  flex-grow: 1;
  padding-top: calc(5% + 70px);
}

.Question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Question__title {
  font-weight: 700;
  text-align: center;
}

.Question__desc {
  font-weight: 500;
  text-align: center;
}

@media only screen and (max-width: 479.99px) {
  .Question__title {
    font-size: 1.5em;
    line-height: 40px;
  }

  .Question__desc {
    font-size: 1em;
    line-height: 35px;
    margin-top: 18px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 480px) {
  .Question__title {
    font-size: 1.7em;
    line-height: 40px;
  }

  .Question__desc {
    font-size: 1em;
    line-height: 35px;
    margin-top: 18px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .Question__title {
    font-size: 2em;
    line-height: 50px;
  }

  .Question__desc {
    font-size: 1.15em;
    line-height: 35px;
    margin-top: 18px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
