.SimpleSection {
  font-family: "Montserrat", sans-serif;
}

.Heading {
  /* font-size: 3em; */
  font-family: "Montserrat", sans-serif !important;
}

.SubHeading {
  font-size: 1.5em;
}

.Content {
}

@media only screen and (max-width: 500px) {
  .Heading {
    font-size: 2.5em !important;
  }
}
