.UpsDownDifferences__title {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
}

.UpsDownDifferences__title_positive {
  color: green;
}

.UpsDownDifferences__title_negative {
  color: red;
}

.UpsDownDifferences__item {
  padding: 12px 8px;
  line-height: 1.7;
  text-align: left;
  font-size: 1.1em;
}
