.ReviewCard {
  box-shadow: 1px 10px 42px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* max-width: 400px; */
  /* width: 100%; */
  /* margin: 24px; */
  height: 100%;
  padding: 36px 24px;
  border-radius: 3px;
}

.ReviewCard__title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 16px;
}

.ReviewCard__subtitle {
  margin-bottom: 24px;
  font-size: 1.3em;
}

.ReviewCard__review {
  text-align: left;
  font-size: 1.1em;
  line-height: 1.5;
}
