.CartPage {
  font-family: "Montserrat", sans-serif;
}

.Banner {
  width: 100%;
  position: relative;
  margin-top: 71px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  padding: 36px 0;
  font-size: 1.7em;
  font-weight: 500;
  background-color: #f7f7f7;
  line-height: 1.8;
}

.Banner__heading {
  display: inline-block;
}

.Banner a {
  font-weight: 600;
}

.CartItems__wrapper {
  padding: 36px 0;
}

.CartItems {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.CartItems__empty p {
  font-size: 1.6em;
  font-weight: 700;
  color: #bbb;
}

.CartItems__empty a {
  font-size: 1.2em;
  font-weight: 500;
}

.ProductCard__wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.CartProductCard__wrapper {
  padding: 24px 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: relative;
}

.CartProductCard__remove {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #bbb;
  cursor: pointer;
}

.AddressForm__wrapper {
  padding: 24px 0 !important;
  margin-bottom: 36px !important;
}

.AddressForm {
  margin: auto;
}

.CartPage__warning {
  font-size: 1.3em;
  text-align: center;
  padding: 50px 0;
}

@media only screen and (max-width: 768px) {
  .Banner {
    font-size: 1.3em;
  }

  .Banner__heading {
    width: 100%;
  }
}
