.CheckoutBill {
  max-width: 300px;
  width: 100%;
  margin: auto;
}

.CheckoutBill__calcs {
  display: flex;
  flex-direction: column;
}

.CheckoutBill__calcs_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  line-height: 3;
}

.CheckoutBill__calcs_item_name {
  font-weight: 400;
}

.CheckoutBill__calcs_item_price {
  font-weight: 600;
}

.CheckoutBill__btn button {
  width: 100%;
  margin-top: 16px;
}
/* 
.CheckoutBill__btn button:disabled {
  background: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.CheckoutBill__btn button:disabled:hover {
  color: #fff;
} */
