.ResultPage * {
  font-family: "Manrope", sans-serif;
}

.ResultPage {
  background-color: #e1eaf4;
}

.ResultPage__body {
  padding-top: 100px;
  margin-bottom: 50px;
}

.ResultPage__subheading {
  font-size: 1.5em;
  margin-top: 36px;
}

.ResultPage__natureExplaination {
  font-size: 1.2em;
  line-height: 1.7;
  text-align: left;
}

.ResultPage__heading {
  text-align: left;
}

.ResultPage__trait {
  text-align: left;
  font-size: 1.1em;
  margin-bottom: 18px;
  line-height: 1.5;
}
