.Card {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  overflow: hidden;
  /* padding: 56px 24px 36px; */
  position: relative;
  width: 100%;
  cursor: pointer;
  margin-top: 24px;

  background-color: #fff;
}

.Card:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.InfoCard {
}

.ProductCard {
  border-radius: 6px;
  color: #000;
  display: flex;
  flex-direction: column;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: box-shadow 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
    -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.ProductCard__image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  position: relative;
  width: 100%;
  /* flex-basis: 170px; */
}

.ProductCard__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  /* opacity: 0; */
  -webkit-transition: 400ms opacity;
  transition: 400ms opacity;
}

.ProductCard__details {
  width: 100%;
  border-width: 1px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: auto;
  /* min-height: 168px; */
  padding: 24px 24px 0;

  border-left: 1px solid #f5f1ed;
  border-right: 1px solid #f5f1ed;
  color: #000;
  -webkit-box-flex: 2;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  /* height: 107px; */
  /* min-height: 90px; */
  padding: 16px 9px;
  -webkit-transition: border-color 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: border-color 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  word-break: break-word;
}

.ProductCard__details__heading {
  font-size: 1.6em;
  margin: 0;
  font-weight: 600;
}

.ProductCard__details__subheading {
  font-size: 1.2em;
  color: #aaa;
}

.ProductCard__details__info {
  padding-left: 24px;
  /* display: none; */
}

.ProductCard__details__info_item {
  color: #999;
  line-height: 1.7;
}

.ProductCard__details__category select {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  border: 2px solid #f1564b59;
  border-radius: 3px;
  outline: none;
}

.ProductCard__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  line-height: 20px;
  padding: 24px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 1px solid #f5f1ed;
  border-left: 1px solid #f5f1ed;
  border-right: 1px solid #f5f1ed;
  background-color: #fff;
}

.ProductCard__footer__left {
  font-weight: 600;
}

.ProductCard__footer__right {
  font-weight: 600;
  color: #f1574b;
}

/* Start - Cart Product card */

.CartProductCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.CartProductCard__image {
  border-radius: 2px;
  /* height: 108px; */

  overflow: hidden;
  width: 108px;
}

.CartProductCard__image img {
  width: 100%;
  /* height: 100%; */
}

.CartProductCard__details {
  padding-left: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.CartProductCard__details__heading {
  font-weight: 600;
  margin: 0;
}

.CartProductCard__details__subheading {
  color: #999;
}

.CartProductCard__details__price {
  font-weight: 500;
  font-size: 1.1em;
}

/* End - Cart Product card */

@media (max-width: 500px) {
  /* .ProductCard__image {
    flex-basis: 120px;
  } */
}

@media (min-width: 742px) {
  .Card {
    width: 158px;
  }

  .ProductCard__details,
  .ProductCard__footer {
    border-width: 2px;
  }

  .ProductCard__footer {
    border-top: 1px solid #f5f1ed;
  }
}

@media (min-width: 1024px) {
  .Card {
    width: 272px;
    /* min-height: 442px; */
  }

  .ProductCard__details__info {
    display: block;
  }

  .ProductCard__details,
  .ProductCard__footer {
    border-width: 2px;
  }
}

@media only screen and (max-width: 1024px) {
  .ProductCard__details__heading {
    font-size: 1.3em;
  }

  .ProductCard__details__subheading {
    font-size: 1.1em;
  }
}
