.ProductPage {
  font-family: "Montserrat", sans-serif;
}

.Header {
  height: 250px;
  width: 100%;
  position: relative;
  text-align: center;
}

.Header__bg {
  background-image: url("/img/product-page-bg.png");
  background-size: cover;
  height: 100%;
}

.Header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Header__content__heading {
  font-size: 2.2em;
  font-weight: 700;
}

.ProductCard__wrapper {
  display: flex !important;
  align-items: flex-start;
  justify-content: center;
}

.FloatingCart {
  position: fixed;
  bottom: 100px;
  right: 24px;
  z-index: 10;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #f1574b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}

.FloatingCart:hover {
  color: #fff;
}

.ProductPage__whats_inside__para {
  text-align: left;
  font-size: 1.2em;
}

.Reviews__wrapper {
  margin-top: 36px !important;
}

@media (min-width: 1024px) {
  .Header {
    height: 420px;
  }
}

@media (max-width: 768px) {
  .Header__content__heading {
    font-size: 1.5em;
  }
}
