.Navigation {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0 !important;
}

.Navigation.bg-white {
  background-color: white !important;
}

.Navigation.relative {
  position: relative !important;
}

.Navigation:hover {
  background-color: white !important;
}

.Navigation .item a {
  text-decoration: none;
}

.Navigation .item {
  align-self: center !important;
}

.Navigation:hover > .item {
  color: #f1574b !important;
}

.Navigation .item:hover {
  color: #f1574b !important;
}

.MenuOpener {
  color: #000;
}

.MenuSidebar {
  position: fixed;
  top: 70px;
  height: calc(100% - 70px);
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.MenuSidebar .item {
  line-height: 2;
}

.MenuSidebar .item.active {
  border: none !important;
}
