.Footer {
  padding: 3em 0 2em !important;
  margin-top: 100px !important;
  background-color: #dd5f6a !important;
  line-height: 1.5em !important;
}

.Footer * {
  font-family: "Montserrat", sans-serif !important;
}

.Footer a:hover {
  color: #fff !important;
}

.Footer__icon {
  font-family: "brand-icons" !important;
}

.Footer__section {
  text-align: left;
  box-shadow: none !important;
  border: none !important;
}

.Footer__social_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 36px;
}

.Footer__social_links a {
  color: #fff;
}

.Footer__social_links i {
  font-size: 2.2em;
  font-family: "brand-icons" !important;
}

.Footer__section_header {
  text-transform: uppercase !important;
  color: #ff9ea6 !important;
}

.Footer__bottom {
  margin-bottom: 0;
  padding-top: 24px;
  border-top: 1px solid #ff9c9c3b;
}

.Footer__section_item {
  line-height: 1.5 !important;
  color: #fff !important;
}

.Footer__section_item a:hover {
  color: #fff !important;
}

@media only screen and (max-width: 768px) {
  .Footer__section {
    text-align: center;
  }
}
