.SinglePricePlan * {
  font-family: "Montserrat", sans-serif;
}

.SinglePricePlan {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* #D0F7E5 */
/* #FFE4ED */
/* #DBEFF8 */
.SinglePricePlan__name {
  background-color: #dbeff8;
  padding: 16px;
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: 700;
  margin-bottom: 16px;
}

.SinglePricePlan__price_wrapper {
  padding: 16px;
  text-align: center;
}

.SinglePricePlan__price {
  font-weight: 600;
  font-size: 2em;
}
.SinglePricePlan__time_period {
  font-weight: 500;
  margin-left: 6px;
}
