.HomePage {
}

.Header {
  border-radius: 0;
  height: 100vh;

  /* Center and scale the image nicely */
  background-image: url("/img/pms.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.Header__content {
  color: #d2ad22;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 140px);
  /* background-color: red; */
  align-items: center;
  justify-content: center;
}

/* Big Carousel -- start */

.BigCarousel {
  /* height: 100vh; */
  font-family: "Montserrat", sans-serif;
}

.BigCarousel__text_container_static {
  position: absolute;
  z-index: 1;
  top: calc(100vh - 120px);
  width: 100%;
  left: 0;
  height: 100px;
  text-align: center;
}

.BigCarousel__know_about_you_btn {
  margin-bottom: 16px;

  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

.BigCarousel__text_static {
  color: #000 !important;
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
  border-bottom: 2px solid #fff;
  display: inline-block;
  line-height: 1.6;
  /* background-color: #cadee8; */
}

.BigCarousel__slide_text_container {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
}

.BigCarousel__slide_text_container p {
  /* margin: 0; */
}

.BigCarousel__slide_text_primary {
  font-weight: 700;
  font-size: 3em;
  color: #a89f92;
  margin-bottom: 18px;
}

.BigCarousel__slide_text_secondary {
  font-weight: 500;
  font-size: 1.7em;
  margin-bottom: 0;
}

.BigCarousel__slide_wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.BigCarousel__slide_bg {
  height: 100vh;
  width: 100%;

  filter: blur(3px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.BigCarousel__slide_img {
  width: 100%;
  height: 100%;
}

.Header__content {
  color: #000;
}

.Header__content_title_wrapper {
  margin-bottom: 24px;
}

.Header__content_title {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 0;
  line-height: 1.2;
  text-align: center;
  color: #47595f;
}

.Header__content_title_2 {
  font-size: 6em;
  font-weight: 800;
  color: #dd5f6a;
}

.Header__content_subtitle {
  font-weight: 600;
  font-size: 1.7em;
  margin-bottom: 0;
  line-height: 2;
  text-align: center;
  color: #47595f;
}

.Header__content_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* color: #dd5f6a; */
}

.Header__content_list p {
  margin-bottom: 0;
  font-weight: 700;
}

/* Big Carousel --end */

.Section__content {
  font-size: 1.4em;
}

.Section__heading {
  font-size: 3em;
  font-weight: 700;
}

.Section_card {
  background-color: #fff;
  box-shadow: 1px 10px 42px rgba(0, 0, 0, 0.1);
  padding: 36px 24px;
  border-radius: 25px;
}

/* But 7C - start */

.But_7C {
  font-size: 1.5em;
}

/* But 7C - end */

/* Shaped component - start */
.ShapedContent__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 36px 0;
}

.ShapedContent__item {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 4px solid #f1564b57;
  padding: 16px 24px;
  margin-left: 16px;
  margin-bottom: 16px;
  font-size: 1.5em;
  line-height: 1.5;
}

.ShapedContent__item:first-of-type {
  margin-left: 0;
}

.ShapedContent__rect {
  border-radius: 8px;
  min-height: 100px;
  flex: 1;
}

.ShapedContent__circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

/* Shaped component -- end */

/* Plan Review carousel -- start */

.PlanCarousel,
.ReviewCarousel {
  margin: auto;
  text-align: left;
  background-color: #fff;
  padding: 16px 54px;
}

.ReviewCarousel {
  padding: 0;
}

.PlanCarousel__dots,
.ReviewCarousel__dots {
  list-style-type: none;
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 300px;
}

.PlanCarousel__dots li,
.ReviewCarousel__dots li {
  width: 20%;
}

.PlanCarousel__dots li button,
.ReviewCarousel__dots li button {
  font-size: 0;
  height: 6px;
  width: 100%;
  background-color: thistle;
  border: none;
  outline: none;
}

.Plan,
.Review {
  margin-top: 24px;
}

.Review {
  border-width: 2px;
  border-style: solid;
  border-color: #ddd;
  height: 100%;
  margin: 16px 8px 0 8px;
  padding: 16px 24px;
  border-radius: 5px;
}

.Review__content {
  font-weight: bold;
  display: block;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
  font-weight: 500;
}

.Review__name {
  font-size: 16px;
  font-weight: 600;
}

.Plan__headline,
.Review__headline {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #151515;
}

.Plan__target,
.Review__target {
  font-size: 16px;
  line-height: 24px;
  color: #7c7c7c;
  margin-bottom: 20px;
  margin-top: 8px;
}

.Plan__routine,
.Review__routine {
  font-weight: bold;
  display: block;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
  font-weight: 500;
}

/* Plan review carousel -- end */

/* FAQ - start */
.FAQ__wrapper {
  width: 100% !important;
  text-align: left;
}

.FAQ__item {
  margin-bottom: 16px;
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 50px;
}

.FAQ__item__title {
  font-size: 1.3em !important;
  font-weight: 600;
  line-height: 1.5;
}

.FAQ__item__content {
  font-size: 1.2em !important;
  font-weight: 400;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

/* FAQ - end */

@media only screen and (max-width: 500px) {
  .Header__content_title {
    font-size: 3em;
    padding: 0 16px;
  }

  .Header__content_title_2 {
    font-size: 4.5em;
  }

  .Header__content_subtitle {
    font-size: 1.3em;
  }

  .Header__content_list {
    font-size: 1.3em;
  }

  .Header__content_list p {
    margin-bottom: 0;
    font-weight: 700;
  }

  .BigCarousel__slide_text_container {
    width: 320px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  .PlanCarousel {
    max-width: 400px;
  }

  .Header__content {
    height: calc(100vh - 100px);
  }

  .BigCarousel__text_container_static {
    top: calc(100vh - 100px);
  }

  .BigCarousel__slide_text_container {
    width: 425px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .BigCarousel__slide_text_primary {
    font-size: 2.2em;
  }

  .BigCarousel__slide_text_secondary {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .Header__content {
    height: calc(100vh - 120px);
  }

  .BigCarousel__text_container_static {
    top: calc(100vh - 100px);
  }

  .PlanCarousel {
    /* max-width: 400px; */
    /* width: 100%; */
    padding: 16px 24px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .BigCarousel__slide_text_container {
    width: 723px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .BigCarousel__slide_text_container {
    width: 933px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (min-width: 1200px) {
  .Header__content_title {
    font-size: 5em;
  }

  .Header__content_title_2 {
    font-size: 8em;
  }

  /* .Header__content_subtitle {
    font-size: 2em;
  } */

  .BigCarousel__slide_text_container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
