.OrderDetails {
  /* background-color: #dcf2f8; */
  /* width: 100%; */
  /* height: 100%; */
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.OrderDetails__segment {
  max-width: 700px !important;
  width: 100%;
  /* position: absolute; */
  top: 100px;
  margin-bottom: 100px !important;
}

.StatusMark {
  font-size: 4em !important;
}

.SuccessText {
  color: #21ba45;
}

.FailText {
  color: #db2828;
}

.OrderDetails__property_name {
  font-weight: 600;
}

.OrderDetails__property_value {
  font-weight: 400;
  overflow-wrap: break-word;
}
